* {
	margin: 0;
	padding: 0;
	background-color: #fffffe;
	font-family: 'Sarala', sans-serif;
	
}

p, h3 {
	font-weight: 300;
}
header {
	text-align: center;
}
header h1{
	padding: 40px;
	margin: 30px;
	font-family: 'Nunito', sans-serif;
	font-size: 42px;
}
.container-information{
	
	display: flex;
	justify-content: center;
}
.animalReport{
	background-color: #d6d6d69f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	margin: 30px;
	height: 240px;
	width: 32%;
	padding: 43px;
	line-height: 23px;

}
.animalReport p, .infoZoo p{
	background-color: #d6d6d600;
}
.infoZoo{
	background-color: #d6d6d69f;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	height: 240px;
	width: 32%;
	margin: 30px;	
	padding: 43px;
	line-height: 23px;
}
h3{
	line-height: 45px;
	background-color: #d6d6d600;
}

.title-images h1{
	text-align: center;
	padding: 20px;
	margin: 50px;
	font-family: 'Nunito', sans-serif;
	font-size: 42px;

}
.container-images{
	display: flex;
	justify-content: center;
}
.image01, .image02{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: start;
	height: 260px;
	width: 32%;
	margin: 30px;	
	padding: 43px;
}


img	{
	border: 7px solid black;
	border-radius: 12px;
	width: 560px;
	height: 375px;
}
img:hover{
	height: 500px;
	width: 590px;
}

footer{
	text-align: center;
	margin: 50px;
}
footer h2{
	margin: 10px;
	padding: 30px;
	font-size: 30px;
}
footer p{
	padding: 15px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	color: green;
}